.field {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    width: 50px;
    min-height: 50px;
    background-color: #fafafa;
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
}