.backgroundImage {
    background-size: 100%;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
    background-image: url('../static/image.jpg')
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .backgroundImage{
        background-image: url('../static/image@2x.jpg');
    }
}
